/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: hsl(205, 86%, 17%);
  --clr-secondary: hsl(205, 77%, 27%);
}

* {
    box-sizing: border-box;
}